<%- include('header') -%>
    <%- include('menu') -%>


        <form method="POST" enctype="multipart/form-data"> <!--   -->
            
            <div class="container">
                <div class="row text-black-50">
                    <div class="col-6">
                        <table class="table bg-light table-borderless">
                            <tr>
                                <th class="col-3">
                                    <img class="m-auto" src=<%=(typeof hirdetes === 'undefined') || ( hirdetes.kepek.length === 0) ? '/public/img/no-image-found.png' : '/' + hirdetes.kepek[0] %> width="300px" />
                                    <input type="file" name="pictures" multiple/>
                                </th>


                                <th>
                                    <table>
                                        <tr>
                                            <th>
                                                Típus:
                                            </th>
                                        </tr>
                                        <tr>
                                            <div class="form-group">
                                                <td class="bg-white">
                                                    <input type="text" class="form-control" id="tipus" name="tipus" 
                                                    value="<%= (typeof hirdetes === 'undefined') ? '' : hirdetes.tipus %>">
                                                </td>
                                            </div>
                                        </tr>

                                        <tr>
                                            <th>
                                                <br>
                                                Feladó:
                                            </th>
                                        </tr>
                                        <tr>
                                                <td>
                                                    <%= user.name %>
                                                </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <br>
                                                Telefonszám:
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <%= user.phone %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <br>
                                                Ár:
                                            </th>
                                        </tr>
                                        <tr>
                                            <div class="form-group">
                                                <td>
                                                    <input type="text" class="form-control" id="ar" name="ar" 
                                                    value="<%= (typeof hirdetes === 'undefined') ? '' : hirdetes.ar %>">
                                                    <h5 class="text-black mt-3"><%= (typeof(error) === 'undefined') ? '' : error %> </h5>
                                                </td>
                                            </div>
                                        </tr>
                                    </table>
                                </th>

                            </tr>
                            <tr>


                            </tr>
                            <tr>

                            </tr>

                        </table>
                        <div class="col-12">
                            <table class="table bg-light table-borderless mt-auto">
                                <tr>
                                    <td>
                                        <h2>Leírás:</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <div class="form-group">
                                        <label for="szoveg">A hirdetés részletes leírása</label>
                                        <textarea class="form-control" id="szoveg" name="szoveg" rows="3"><%=(typeof hirdetes === 'undefined') ? '' : hirdetes.szoveg %></textarea>
                                      </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-6">
                        <% (typeof hirdetes === 'undefined') ? '' :hirdetes.kepek.slice(1).forEach(function(egyKep){ %>
                            <img class="m-auto" src=<%= '/'+egyKep %> width="300px" />
                            <% }); %>
                    </div>

                </div>
                <div class=container>
                    <div class="col-6 align-self-center">
                        <input type="submit" class="btn btn-lg btn-success" 
                        href=<%=(typeof hirdetes === 'undefined') ? '/hirdetes' :'/hirdetes/get/' + hirdetes._id %>
                                                value="Hirdetés mentése"/>

                        <a class="btn btn-lg btn-danger" 
                        href='/hirdetes' > Mégse</a>

                        <a <%=(typeof hirdetes === 'undefined') ? 'hidden' : ''%> class="btn btn-lg btn-danger" 
                        href=<%=(typeof hirdetes === 'undefined') ? '/hirdetes' :'/hirdetes/edit/' + hirdetes._id + '/delPic' %> 
                        role="button">Utolsó kép törlése</a>

                    </div>
                    </div>
        </form>
        </div>
        

        <%- include('footer') -%>