<%- include('header') -%>
<%- include('menu') -%>

    <div class="container">
        <div class="row text-black-50">
            <div class="col-6">
                <table class="table bg-light table-borderless">
                    <tr>
                        <th class="col-3">
                            <img class="m-auto" src=<%= '/' + hirdetes.kepek[0] %> width="300px" />
                        </th>
                        <th>
                            <table>
                                <tr>
                                    <th>
                                        Típus:
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <%= hirdetes.tipus %>
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        <br>
                                        Feladó:
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <a href=<%= '/profil/' + hirdetes._felado._id %>><%= hirdetes._felado.name %></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <br>
                                        Telefonszám:
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <% if((typeof session ==='undefined') ||(typeof session.belepve === 'undefined') || (session.belepve !== true)){ %>
                                            <a> XX-XXX-XXXX </a> <p>(Ehhez az információhoz be kell jelentkezned)</p>
                                            <% } else{ %>  
                                                <%= hirdetes._felado.phone %>
                                            <% } %>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <br>
                                        Ár:
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <% if((typeof session ==='undefined') ||(typeof session.belepve === 'undefined') || (session.belepve !== true)){ %>
                                            <a> XX.XXX </a> <p>(Ehhez az információhoz be kell jelentkezned)</p>
                                            <% } else{ %>  
                                                <%= hirdetes.ar %>
                                            <% } %>
                                        
                                    </td>
                                </tr>
                            </table>
                        </th>

                    </tr>
                    <tr>


                    </tr>
                    <tr>

                    </tr>

                </table>
                <div class="col-12">
                    <table class="table bg-light table-borderless mt-auto">
                        <tr>
                            <td>
                                <h2>Leírás:</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= hirdetes.szoveg %>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <% hirdetes.kepek.slice(1).forEach(function(egyKep){ %>
                <img class="m-auto" src=<%= '/'+egyKep %> width="300px" />
                <% }); %>
            </div>

        </div>
    </div>

    <%- include('footer') -%>