<%- include('header',{pagetitle: 'Welcome to X-Wing Trade Center'}) -%>
  <%- include('menu',{activepage:'fooldal'}) -%>

    <div class="container">
      <div class="row text-black-50">
        <div class="col-9">
          <table class="table table-striped table-bordered bg-light">
            <tr>
              <th>
                Hirdetés
              </th>
              <th>
                Típus
              </th>
              <th>
                Feladó
              </th>
              <th>
                Ár
              </th>
              <th>
                &nbsp;
              </th>

            </tr>
            <% hirdetesek.forEach(function(egyHirdetes){ %>
              <tr>
                  <td>
                     <%= egyHirdetes.szoveg.substring(0,50) + ((egyHirdetes.szoveg.length > 50) ? '...' : '')%>
                  </td>
                  <td>
                    <%= egyHirdetes.tipus %>
                  </td>
                  <td>
                      <%= egyHirdetes._felado.name %>
                  </td>
                  <td>
                    <%= egyHirdetes.ar %>
                </td>
                  <td>
                      <a class="btn btn-primary" href=<%= '/hirdetes/get/' + egyHirdetes._id %>>Ugrás a hirdetésre</a>
                  </td>
              </tr>
              <% }); %>
          </table>
        </div>
        <div class="col-3">
          <h1 class="text-white">Típus kereső</h1>
          <form method="POST">
            <input type="text" class="form-control" id="searchBy" name="searchBy">
            <input type="submit" class="btn-lg btn-primary mb-1 mt-2" value="Keres"/>
          </form>
        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"></script>
    </body>

    </html>