<%- include('header',{pagetitle: 'Sajat profilod' }) -%>
  <%- include('menu',{activepage:'profil'}) -%>



    <div class="container">
      <div class="row text-black-50">
        <div class="col-6">
          <table class="table table-striped table-borderless">
            <tr>
              <th>
                <h2 class="text-white">Adatok</h2>
              </th>
            </tr>
            <tr>
              <th class="bg-white">
                Név
              </th>
              <th>
                &nbsp;
              </th>
              <th class="bg-white">
                Telefonszám
              </th>
              <th>
                &nbsp;
              </th>

            </tr>
            <tr>
              <td class="bg-white">
                <%= user.name %>
              </td>
              <td>

              </td>
              <td class="bg-white">
                <%= user.phone %>
              </td>
              <td>

              </td>
            </tr>
            <tr>
              <td>
                <a class="btn btn-success" href=<%='/profil/' + user._id + '/edit' %>> Adatok szerkesztése</a>>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    


    <%- include('footer') -%>